body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mobile-view {
  display: none;
  background-color: #ff4e4e;
  color: white;
  text-align: center;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 880px) {
  .App-wrapper {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}